<iframe width="640px" id="jsdos" height="400px" src="https://dos.zone/en/player/https%3A%2F%2Fcdn.dos.zone%2Foriginal%2F2X%2F1%2F1179a7c9e05b1679333ed6db08e7884f6e86c155.jsdos"></iframe>
<canvas id="jsdos"></canvas>
<script type="text/javascript">
document.getElementById("jsdos").focus();
</script>