<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DOSBOX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/layout.css"/>

		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/OverlayScrollbars.min.js" integrity="sha512-B1xv1CqZlvaOobTbSiJWbRO2iM0iii3wQ/LWnXWJJxKfvIRRJa910sVmyZeOrvI854sLDsFCuFHh4urASj+qgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css" integrity="sha512-jN4O0AUkRmE6Jwc8la2I5iBmS+tCDcfUd1eq8nrZIBnDKTmCp5YxxNN1/aetnAH32qT+dDbk1aGhhoaw5cJNlw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://kingsora.github.io/OverlayScrollbars/etc/os-theme-minimal-light.css"/>
		<script>if (window.module) module = window.module;</script>

    </head>
    <body>

        <div class="wrapper" id="display">
            <!-- MAIN CONTAINER -->
            <section class="main-container" >
            <div class="location" id="home">
                <h1 id="home">아케이드 게임</h1>
				<script id="acade-template" type="x-tmpl-mustache" class="hide">
				{{#acade}}
				<a href="#" class="games" game="{{game}}"><img src="{{poster}}" alt="{{title}}" border="0px"></a>
				{{/acade}}
				</script>
                <div class="box" id="acade-rows"></div>
            </div>

            <h1 id="myList">어드벤쳐</h1>
			<script id="adventure-template" type="x-tmpl-mustache" class="hide">
			{{#adventure}}
			<a href="#" class="games" game="{{game}}"><img src="{{poster}}" alt="{{title}}" border="0px"></a>
			{{/adventure}}
			</script>
            
			<div class="box" id="adventure-rows"></div>

            <h1 id="tvShows">시뮬레이션</h1>
			<script id="simulation-template" type="x-tmpl-mustache" class="hide">
			{{#simulation}}
			<a href="#" class="games" game="{{game}}"><img src="{{poster}}" alt="{{title}}" border="0px"></a>
			{{/simulation}}
			</script>
            <div class="box" id="simulation-rows"></div>
            <h1 id="movies">롤플레잉</h1>
			<script id="rpg-template" type="x-tmpl-mustache" class="hide">
			{{#rpg}}
			<a href="#" class="games" game="{{game}}"><img src="{{poster}}" alt="{{title}}" border="0px"></a>
			{{/rpg}}
			</script>
            <div class="box" id="rpg-rows"></div>
            <h1 id="originals">스포츠</h1>
			<script id="sports-template" type="x-tmpl-mustache" class="hide">
			{{#sport}}
			<a href="#" class="games" game="{{game}}"><img src="{{poster}}" alt="{{title}}" border="0px"></a>
			{{/sport}}
			</script>
            <div class="box" id="sports-rows"></div>
            <!-- END OF MAIN CONTAINER -->
        </div>
		<script src="js/data.js"></script>
    </body>
</html>